@model TrainReservation.Models.Bookings
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm Booking</h2>

<h3>Are you sure you want to book this trip?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            int seatNo = 444;
            string sender_aggregate = HttpContext.Current.User.Identity.GetUserId() + "#" + seatNo.ToString();

            System.Diagnostics.Debug.WriteLine(sender_aggregate);
            System.Diagnostics.Debug.WriteLine("--------------------------");

            
            <div class="form-actions no-color">
                
                <button onclick="@Html.Raw(Url.Action("BookingConfirmed" ,
                                "Confirm",
                                new
                                {
                                    id = Model.TripID,
                                    sender = HttpContext.Current.User.Identity.GetUserId(),
                                    SeatId = 42
                                }
                                ))">Confirm</button> |
                
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
</div>
